.carousel {
  color: #fff;

  &Images {
    background: black;
    position: relative;
    $img-opacity: 0.67;

    @keyframes fade-in {
      from {
        opacity: 0.3;
      }
      to {
        opacity: $img-opacity;
      }
    }

    &Image {
      display: none;
      width: 100%;
      height: 25rem;
      object-fit: cover;
      opacity: $img-opacity;
      animation: fade-in 3s;
    }

    &Active {
      display: block;
    }
  }

  &Description {
    position: absolute;
    bottom: 10rem;
    left: 2rem;
    bottom: 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-size: 25px;
    // z-index: 3;
  }
}
